*~
*.elc
auto-save-list
recentf
savehist
saveplace
eshell
el-get
semanticdb
url
ede-projects.el
.DS_Store
custom.el
places
.smex-items
savefile/
projectile-bookmarks.eld
session*
.cask
tramp
/var/pcache
games
.mc-lists.el
.emacs.desktop
.emacs.desktop.lock
ac-comphist.dat
ac-comphist.dat
network-security.data
prelude-cheatsheet.el
prelude-cheatsheet.aux
prelude-cheatsheet.log
transient/
.cache/
.lsp-session*

## customized by me
elpa/vterm-**/build*
